<h1>新增文章</h1>

<form action="/blog" method="POST">
  <%# 自動建立 authenticity_token %>
  <input type="text" name="authenticity_token" id="">
  <%# 下行手動建立 authenticity_token %>
  <%# <input type="text" name="authenticity_token" id="" value="form_authenticity_token"> %>
  <input type="submit" value="新增"> 
</form>